<ul>Change the light states using the emulator on port 8080 and watch the changes populate below.</ul>
<ul>Also inspect the console log to view the changes as required in the assignment.</ul>
<ul>Have a great week. Shoot me an 
  <a href="mailto:michaelcarl7@gmail.com?Subject=User%20Feedback" target="_top">Email</a> if you have questions </ul>
  <!-- <i class="icon-phone"></i> icon-phone -->
  <!-- <h3>Change the light states using the emulator on port 8080 and watch the changes populate below</h3> -->
<div *ngFor="let lightData of lightDataList"> 
  <div class="well">
    <ul class="list-group">

      <li class="list-group-item">Name: {{lightData.name}} </li>
      <li class="list-group-item">ID: {{lightData.id}} </li>
      <li class="list-group-item">On: {{lightData.on}} </li>
      <li class="list-group-item">Brightness: {{lightData.brightness | number : '1.2-2'}}</li>
    </ul>
  </div>
<br><br>
